{% extends "webapp/layout.html" %}
{% load static %}

{% block main %}
<main>
    <div class="hack-container">
        <div class="hack-card">
            <div class="card-image">
                <img src="{% static 'webapp/assets/images/cod.jpg' %}" alt="Hackathon image">
            </div>
            <div class="card-content">
                <div class="hack-details">
                    <div class="icon-text">
                        <span class="icon">
                            <i class="fab fa fa-calendar"></i>
                        </span>
                        <span class="text">
                            14th, 19th March 2021
                        </span>
                    </div>
                </div>
                <h2 class="hack-title">E-Sports: COD Mobile</h2>
                <p class="excerpt">Unleash the gamer in you as you lead your squad to victory battling your way through a hundered other 
                    players trying to kill you while also fighting an ever-shrinking zone. Compete against squads from all over Mumbai as you 
                    fly into the front lines, scramble about the map to loot guns and supplies and fight until your are the last men standing.
                </p>
                <br>
                <p class="more-details">
                    <span>Cash Prize for Winners: &#8377; 3,500/-</span><br>
                    <span>Cash Prize for Runners Up:  &#8377; 2,000/-</span><br>
                    <span>Free Registration</span><br>
                </p>
                <a href="#" class="register">Register</a>
            </div>
        </div>
    </div>
</main>

{% endblock %}