{% extends "webapp/layout.html" %}
{% load static %}

{% block main %}
<main>
    <div class="hack-container">
        <div class="hack-card">
            <div class="card-image">
                <img src="{% static 'webapp/assets/images/cod.jpg' %}" alt="Hackathon image">
            </div>
            <div class="card-content">
                <div class="hack-details">
                    <div class="icon-text">
                        <span class="icon">
                            <i class="fab fa fa-calendar"></i>
                        </span>
                        <span class="text">
                            {% if id == 7 %}
                                14th March 2021
                            {% else %}
                                19th March 2021
                            {% endif %}
                        </span>
                    </div>
                </div>
                <h2 class="hack-title">E-Sports: COD Mobile</h2>
                <p class="excerpt">Unleash the gamer in you as you lead your squad to victory battling your opponents in a 5 V 5 Team Deathmatch 
                    to ace 40 kills. Compete against teams from all over Mumbai until you are the last team standing in the arena.
                </p>
                <br>
                <p class="more-details">
                    {% if id == 7 %}
                        <span>Cash Prize for Winners: &#8377; 5,500/-</span><br>
                        <span>Registration Fee: &#8377; 100/- Per Team</span><br>
                    {% else %}
                        <span>Cash Prize for Winners: &#8377; 2,500/-</span><br>
                        <span>1 Team allowed Per Class</span><br>
                        <span>All Team Members must be from the same Class</span><br>
                    {% endif %}
                    <span>5 Members Per Team plus 1 Substitute</span>
                </p>
                {% if id == 7 %}
                    <a href="https://forms.gle/ewkJ2imBn4jJDx9B6" class="register" target="black">Register</a>
                {% else %}
                    <a href="https://forms.gle/yMixw6HFWJAJyVbd7" class="register" target="black">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>

{% endblock %}