{% extends "webapp/layout.html" %}
{% load static %}

{% block main %}
{% for council, eves in events.items %}

<h1 class="event-head">{{council}} Events</h1>
{% if eves.count == 0 %}
    <h2 class="no-reg">No Events Released yet...</h2>
{% else %}
<div class="event-container">
    {% for eve in eves %}
    <div class="event-box">
        <div class="event-imgBox">
            <img src="{{eve.img}}" alt="Event Image" class="event-img">
            <h2>{{eve.name}}</h2>
        </div>
        <div class="event-details">
            <div class="event-content">
                <h2>{{eve.name}}</h2>
                <p>{{eve.desc}}</p><br>
                {% if eve.event_id == 4 %}
                    <a href='{% url 'hackathon' %}'>Register</a>
                {% elif eve.event_id == 5 %}
                    <a href='{% url 'mechathon' %}'>Register</a>
                {% elif eve.event_id == 6 %}
                    <a href=# %}'>Registrations Closed!</a>
                    <!--<a href='{% url 'valorant' id=eve.event_id %}' %}'>Register</a>-->
                {% elif eve.event_id == 7 %}
                    <a href=# %}'>Registrations Closed!</a>
                    <!--<a href='{% url 'cod' id=eve.event_id %}' %}'>Register</a>-->
                {% elif eve.event_id == 16 %}
                    <a href=# %}'>Registrations Closed!</a>
                    <!--<a href='{% url 'valorant' id=eve.event_id %}' %}'>Register</a>-->
                {% elif eve.event_id == 17 %}
                    <a href='{% url 'cod' id=eve.event_id %}' %}'>Register</a>
                {% elif eve.event_id == 18 %}
                    <a href='https://docs.google.com/forms/d/e/1FAIpQLSegrtzJMLQxSx_LnFCFppcNAePJzJKfq5O6ci3RiHO-N9zyPw/viewform?usp=sf_link' %}'>Register</a>
                {% elif eve.event_id == 19 %}
                    <a href='https://docs.google.com/forms/d/e/1FAIpQLSfNZf5M6jXvE3eEofEyPpERgTbP2_A672JEt1UllLWCQawvlw/viewform?usp=sf_link' %}'>Register</a>
                {% elif eve.event_id == 15 or eve.event_id == 13 or eve.event_id == 9 or eve.event_id == 12 %}
                    <a href=# %}'>Registrations Closed!</a>
                {% else %}
                    <a href='{% url 'register' event_id=eve.event_id %}'>Register</a>
                {% endif %}
                <br>
            </div>
        </div> 
    </div>
    {% endfor %}
</div>
{% endif %}
{% endfor %}
<br><br><p></p>
{% endblock %}