{% extends "webapp/layout.html" %}
{% load static %}

{% block main %}
    <main>
        <div class="hack-container">
            <div class="hack-card">
                <div class="card-image">
                    <img src="{% static 'webapp/assets/images/hackathon1.jpg' %}" alt="Hackathon image">
                </div>
                <div class="card-content">
                    <div class="hack-details">
                        <div class="icon-text">
                            <span class="icon">
                                <i class="fab fa fa-calendar"></i>
                            </span>
                            <span class="text">
                                20-21 March 2021
                            </span>
                        </div>
                    </div>
                    <h2 class="hack-title">Crescendo Hackathon</h2>
                    <p class="excerpt">
                        We are organizing a 24-hour Hackathon with problem statements from varied domains. 
                        Our hackathon imparts you the platform to showcase your ideas and technical skills at a recognized level. 
                        This is the perfect opportunity to get those breathtaking ideas out of your astonishing minds and onto the computer screens. 
                        Coming again this year we bring you more engrossing and strenuous problem statements than ever before.
                        <br>
                        <p class="more-details">
                            <span>Duration: 24 hours</span><br>
                            <span>Cash Prizes worth &#8377; 45,000/-</span><br>
                            <span>Other Prizes worth &#8377; 20,000/-</span><br>
                            <span>Certificates for all Participants</span><br>
                            <span>Certificates and prizes for best second year team</span><br>
                            <span>First place prize money is &#8377; 10,000/-</span><br>
                            <span>Runners up &#8377; 5,000/-</span><br>
                        </p>
                        <div 
                        class="apply-button" 
                        data-hackathon-slug="crescendo-hackathon" 
                        data-button-theme="dark"
                        style="height: 44px; width: 200px;"
                        ></div>
                    </p>
                </div>
            </div>
        </div>
        
        <footer class="footer" style="background-color: white;">
            <div class="footer-container">
                <div class="logo">
                    <h2 style="color: #104f55;">Organised By</h2>
                    <center><img src="{% static 'webapp/assets/images/logo.png' %}" alt="Students Council Fr. CRCE" width=200px></center>
                </div>
                <div class="logo">
                    <h2 style="color: #104f55;">Platinum Sponsors</h2>
                    <center><a href="https://devfolio.co" target="black"><img src="{% static 'webapp/assets/images/devfolio.png' %}" alt="Devfolio" width=200px></a></center>
                </div>
                <div class="logo">
                    <h2 style="color: #104f55;">Gold Sponsors</h2>
                    <center><a href="https://tezos.com" target="black"><img src="{% static 'webapp/assets/images/tezos.png' %}" alt="Tezos" width=170px style="margin-bottom: 10px;"></a></center>
                    <center><a href="https://matic.network" target="black"><img src="{% static 'webapp/assets/images/matic.png' %}" alt="Matic" width=170px style="margin-bottom: 10px;"></a></center>
                    <center><a href="https://www.portis.io" target="black"><img src="{% static 'webapp/assets/images/portis.png' %}" alt="Portis" width=170px style="margin-bottom: 10px;"></a></center>
                </div>
                <div class="insta">
                    <h2><a href="https://www.instagram.com/frcrce_official" target="blank" style="color: #104f55;">Instagram</a></h2>
                    <div class="flex-row">
                        <img src="{% static 'webapp/assets/images/insta/insta1.PNG' %}" alt="Insta1">
                        <img src="{% static 'webapp/assets/images/insta/insta2.PNG' %}" alt="Insta2">
                        <img src="{% static 'webapp/assets/images/insta/insta3.PNG' %}" alt="Insta3">
                    </div>
                    <div class="flex-row">
                        <img src="{% static 'webapp/assets/images/insta/insta4.PNG' %}" alt="Insta4">
                        <img src="{% static 'webapp/assets/images/insta/insta5.PNG' %}" alt="Insta5">
                        <img src="{% static 'webapp/assets/images/insta/insta6.PNG' %}" alt="Insta6">
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script defer async src="https://apply.devfolio.co/v2/sdk.js"></script>
{% endblock %}