{% extends "webapp/layout.html" %}
{% load static %}

{% block main %}
    <main>
        <div class="hack-container">
            <div class="hack-card">
                <div class="card-image">
                    <img src="{% static 'webapp/assets/images/hackathon.png' %}" alt="Hackathon image">
                </div>
                <div class="card-content">
                    <div class="hack-details">
                        <div class="icon-text">
                            <span class="icon">
                                <i class="fab fa fa-calendar"></i>
                            </span>
                            <span class="text">
                                20-21 March 2021
                            </span>
                        </div>
                    </div>
                    <h2 class="hack-title">Crescendo Hackathon</h2>
                    <p class="excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem distinctio nisi enim vero quibusdam perspiciatis cupiditate! Temporibus, iusto. Laudantium dolore modi non omnis nobis deserunt, veritatis repellendus, exercitationem facilis at aliquid alias incidunt! Ducimus delectus impedit accusantium deserunt eveniet, eum dolorem perspiciatis cumque quas, repellat blanditiis saepe provident repellendus tempora.</p>
                    
                </div>
            </div>
        </div>
        <div 
            class="apply-button" 
            data-hackathon-slug="crescendo-hackathon" 
            data-button-theme="dark"
            style="height: 44px; width: 312px"
            ></div>
        <footer class="footer" style="background-color: white;">
            <div class="footer-container">
                <div class="logo">
                    <h2 style="color: #104f55;">Organised By</h2>
                    <center><img src="{% static 'webapp/assets/images/logo.png' %}" alt="Students Council Fr. CRCE" width=200px></center>
                </div>
                <div class="logo">
                    <h2 style="color: #104f55;">Platinum Sponsor</h2>
                    <center><img src="{% static 'webapp/assets/images/devfolio.png' %}" alt="Students Council Fr. CRCE" width=200px></center>
                </div>
            <div class="move-up">
                <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
            </div>
        </footer>
    </main>

    <script defer async src="https://apply.devfolio.co/v2/sdk.js"></script>
{% endblock %}