{% extends "webapp/layout.html" %}
{% load static %}

{% block main %}
    <main>
        <section class="hackathon">
            <center><img src="{% static 'webapp/assets/images/hackathon.png' %}" alt="" width="80%"></center>
            <div 
            class="apply-button" 
            data-hackathon-slug="crescendo-hackathon" 
            data-button-theme="dark"
            style="height: 44px; width: 312px"
            ></div>
        </section>
        <footer class="footer" style="background-color: white;">
            <div class="footer-container">
                <div class="logo">
                    <h2 style="color: #104f55;">Organised By</h2>
                    <center><img src="{% static 'webapp/assets/images/logo.png' %}" alt="Students Council Fr. CRCE" width=200px></center>
                </div>
                <div class="logo">
                    <h2 style="color: #104f55;">Platinum Sponsor</h2>
                    <center><img src="{% static 'webapp/assets/images/devfolio.png' %}" alt="Students Council Fr. CRCE" width=200px></center>
                </div>
            <div class="move-up">
                <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
            </div>
        </footer>
    </main>

    <script defer async src="https://apply.devfolio.co/v2/sdk.js"></script>
{% endblock %}