{% extends "webapp/layout.html" %}
{% load static %}

{% block main %}
<main>
    <div class="hack-container">
        <div class="hack-card">
            <div class="card-image">
                <img src="{% static 'webapp/assets/images/hackathon1.jpg' %}" alt="Hackathon image">
            </div>
            <div class="card-content">
                <div class="hack-details">
                    <div class="icon-text">
                        <span class="icon">
                            <i class="fab fa fa-calendar"></i>
                        </span>
                        <span class="text">
                            20-21 March 2021
                        </span>
                    </div>
                </div>
                <h2 class="hack-title">Crescendo Mechathon</h2>
                <p class="excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem distinctio nisi enim vero quibusdam perspiciatis cupiditate! Temporibus, iusto. Laudantium dolore modi non omnis nobis deserunt, veritatis repellendus, exercitationem facilis at aliquid alias incidunt! Ducimus delectus impedit accusantium deserunt eveniet, eum dolorem perspiciatis cumque quas, repellat blanditiis saepe provident repellendus tempora.</p>

            </div>
        </div>
    </div>
</main>

{% endblock %}