{% extends "webapp/layout.html" %}
{% load static %}

{% block main %}
        <h1 class="profile-title">Crescendo 2k21 Schedule</h1>
            <table class="profile-table">
                <tr id="table-head">
                    <th>Event Name</th>
                    <th>Time</th>
                    <th>1st Prize Money</th>
                    <th>2nd Prize Money</th>
                </tr>
                <tr>
                    <td class="day">13th March - Saturday</td>
                </tr>
                <tr>
                    <td>Inaugration</td>
                    <td>9:00 AM</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
            </table>
            <p></p>
{% endblock %}