{% extends "webapp/layout.html" %}
{% load static %}

{% block main %}
<main>
    <div class="hack-container">
        <div class="hack-card">
            <div class="card-image">
                <img src="{% static 'webapp/assets/images/valorant.jpg' %}" alt="Hackathon image">
            </div>
            <div class="card-content">
                <div class="hack-details">
                    <div class="icon-text">
                        <span class="icon">
                            <i class="fab fa fa-calendar"></i>
                        </span>
                        <span class="text">
                            13th, 16th March 2021
                        </span>
                    </div>
                </div>
                <h2 class="hack-title">E-Sports: Valorant</h2>
                <p class="excerpt">In an attempt to truely test your teamwork, cohesion and gameplay, The Students' Council of Fr. CRCE 
                    brings to you a Valorant tournment, wherein you and your team can compete against players from all over the country 
                    in an effort to outshine all players and win. Ban a map, choose to attack or defend and then enter the arena with your 
                    agents to battle as the first to 13 rounds wins.
                </p>
                <br>
                <p class="more-details">
                    <span>Cash Prize for Winners: &#8377; 5,500/-</span><br>
                    <span>Registration Fee: &#8377; 100/- Per Team</span><br>
                    <span>5 Members Per Team plus 1 Substitute</span>
                </p>
                <a href="https://forms.gle/wAt6WbEY2HWDsQZc8" class="register" target="black">Register</a>
            </div>
        </div>
    </div>
</main>

{% endblock %}