@import url('../css/fonts.css');

html body {
    margin: 0;
    box-sizing:border-box;
    overflow-x: hidden;
}

:root {
    /* Font Families*/
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livic: 'Livvic', cursive;

    /* Colors */
    --text-grey: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    
    /* Gradients */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --grass: linear-gradient(-45deg, #07656e 0%, #5eb0b8 100%);

}
/* Global Classes */
a {
    text-decoration: none;
    color: var(--text-grey);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.apply-button {
  align-self: center;
  margin: 20px 20px;
  border: 2px solid var(--midnight);
}
/* Global Classes End */

/* Nav Bar */
.nav {
    background-color: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;

}
.nav .nav-brand a {
    font-family: var(--Lexend);
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    color: var(--midnight);
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
    color: var(--midnight);
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
    font-weight: 900;
}

.nav .social {
    padding: 1.4rem 0;
}

.nav .social a i {
    padding: 0.5rem;
}

.nav .social a i:hover {
    color: #a1c4cf;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-grey);
}
.collapse{
    height: 50rem;
}

@media only screen and (max-width: 750px) {
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }
}

/* Nav Bar End */

/* Home Page*/
main .site-title{
  background: url('../assets/images/background1.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main .site-title .site-background{
  padding-top: 12rem;
  text-align: center;
  color: var(--white);
}

main .site-title h1, h3{
  margin: .3rem;
  font-family: var(--Abel);
  text-shadow: 0 0 20px #fff, 0 0 30px var(--midnight), 0 0 40px var(--midnight), 0 0 50px var(--midnight), 0 0 60px var(--midnight), 0 0 70px var(--midnight), 0 0 80px var(--midnight);
}

main .site-title h1 {
  font-size: 4.3rem;
  font-weight: 900;
}

main .site-title h3 {
  font-size: 2rem;
}

main .site-title .btn{
  margin: 1.8rem;
  background: var(--grass);
  outline: none;
}
main .site-title .btn a {
  color: var(--white);
  font-family: var(--var(--Livic));
}
main .site-title .btn:hover{
  opacity: 1;
  border: 3px solid var(--white);
  box-shadow:0 0 15px #5eb0b8, 0 0 20px #5eb0b8, 0 0 25px #5eb0b8;
}
/* Home Page End */

/* Login Form */
#login {
  font-family: var(--Abel);
}
.wave {
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.login-container {
  width: 100vw;
  height: 100wh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
  margin-top: 5%;
}
.img-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login-container1 {
  display: flex;
  align-items: center;
  text-align: center;
}
.img-login img {
  width: 500px;
}
.login-container .login-container1 #login .profile{
  width: 100px;
  height: 100px;
}
#login {
  width: 360px;
}
#login h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 15px 0;
  color: var(--midnight);
}
.input-div {
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 15px 0;
  padding: 5px 0;
  border-bottom: 2px solid var(--midnight);
}
.input-div .one{
  margin-top: 0;
}
.input-div .two {
  margin-bottom: 4px;
}
.i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i i{
  color: var(--text-light);
  transform: translateX(-40px);
}
.input-div > div {
  position: relative;
  height: 45px;
  width: 100px;
}
.input-div > div h5 {
  position: absolute;
  left: 10px;
  transform: translateY(-80%);
  color: #999;
  font-size: 18px;
  display: none;
  transition: .3s;
}
.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6px;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: var(--text-light);
}
.input:focus {
  background-color: none;
}
/* Login Responsive Form */
@media screen and (max-width: 1050px) {
  .login-container {
    grid-gap: 5rem;
  }
}
@media screen and (max-width: 1000px) {
  #login {
    width: 250px;
  }
  #login h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img-login img {
    width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .img-login {
    display: none;
    width: 0;
  }
  .login-container {
    grid-template-columns: 1fr;
    padding: 0 0;
  }
  .wave {
    display: none;
  }
  .login-container1 {
    justify-content: center;
  }
}
/* Login Responsive Form End */

/* Login Form End */

/* Registration Page */

.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
    font-family: var(--Abel);
  }
  
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  form.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  form.sign-in-form {
    z-index: 2;
  }
  
  .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  .team-title {
    font-size: 2.4rem;
    font-family: var(--Josefin);
    color: var(--midnight);
    text-shadow: 2px 2px lightslategray;
    text-align: center;
  }

  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 40px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field i {
    text-align: center;
    line-height: 40px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  .btn {
    width: 150px;
    background-color: var(--midnight);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #07656e 0%, #5eb0b8 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  
  .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
  }
  
  .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
  
  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  .top_message {
    background: none;
    text-align: center;
    font-family: var(--Abel);
    font-size: 0;
    margin: 0;
    padding: 0;
    height: 0;
    width: 100%;
    background-color: #07656e;
    color: var(--white);
    animation: hide 6s;
  }
  @keyframes hide{
    0% {height: 0px; font-size: 0;}
    20% {height: 40px;font-size: 1.2rem;}
    80% {height: 40px;font-size: 1.2rem;}
    100% {height: 0px;font-size: 0;}
  }
  /* ANIMATION */
  
  .container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .container.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .container.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .container.sign-up-mode .right-panel {
    pointer-events: all;
  }
  
  @media (max-width: 870px) {
    .container {
      min-height: 800px;
      height: 100vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .container.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
    }
  
    .left-panel {
      grid-row: 1 / 2;
    }
  
    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel h3 {
      font-size: 1.2rem;
    }
  
    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .container {
      padding: 1.5rem;
    }
  
    .container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }
/* Responsive registraion page end */

/* Registraion Page End */

/* Profile Page */
.profile {
  display: flex;
  height: 100vh;
  font-family: var(--Josefin);
}
.pro-left {
  width: 30%;
  padding: 0.5rem 0.5rem;
  background-color:#5eb0b8;
}
.pro-right {
  width: 70%;
  padding: 0.5rem 0.5rem;
}
.parti-name {
  padding-top: 2rem;
  font-family: var(--Lexend);
  font-size: 2rem;
  color: var(--white);
  text-shadow: 1px 1px lightgray;
}
.profile-image {
  width: 70%;
}
.det-head {
  font-family: var(--Livic);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  text-shadow: 1px 1px lightgray;
}
.det-h {
  margin-left: 2rem;
  color: var(--white);
  font-size: 1rem;
}
.det {
  float: right;
  margin-right: 3rem;
  color: var(--white);
  font-size: 1rem;
}
@media (max-width: 640px){
  .profile {
    display: block;
  }
  .pro-left {
    width: 100%;
  }
  .pro-right {
    width: 100%;
  }
}
/* Profile Page End */

/* Events Page */
.event-head {
  text-align: center;
  margin-top: 5%;
  font-size: 3rem;
  font-family: var(--Josefin);
  color: var(--midnight);
}
.event-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: auto auto;
}
.event-container .event-box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px auto;
  box-sizing: border-box;
  display: inline-block;
}
@media (max-width: 1200px)  {
  .event-container .event-box {
    width: 250px;
    margin: 10px auto;
  }
}
.event-container .event-box .event-imgBox {
  position: relative;
}
.event-container .event-box .event-imgBox h2{
  font-size: 1.2rem;
  font-family: var(--Josefin);
}
.event-container .event-box .event-imgBox .event-img {
  max-width: 100%;
  align-self: center;
  transition: transform 0.8s;
}
.event-container .event-box:hover .event-imgBox .event-img {
  transform: scale(1.1);
  opacity: 0.6;
}
.event-container .event-box .event-details {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(	16, 79, 85, 0.6);
  border-radius: 10%;
  transform: scaleY(0);
  transition: transform 0.5s;
}
.event-container .event-box:hover .event-details {
  transform: scaleY(1);
}
.event-container .event-box .event-details .event-content {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  text-align: center;
  padding: 15px;
}
.event-container .event-box .event-details .event-content h2 {
  margin: 3px;
  padding: 0;
  font-size: 1.2rem;
  color: var(--white);
  font-family: var(--Josefin);
  text-decoration: underline;
}
.event-container .event-box .event-details .event-content p {
  margin: 10px 0 0;
  padding: 0;
  font-family: var(--Lexend);
  font-size: 0.9rem;
  color: white;
}
.event-container .event-box .event-details .event-content a {
  font-family: var(--Abel);
  font-weight: 900;
  color: var(--midnight);
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
}
/* Events Page End */

/* Council Profile Page */
.profile-title {
  font-size: 3rem;
  font-family: var(--Josefin);
  text-align: center;
  color: var(--midnight);
  text-shadow: 2px 2px var(--text-light);
}
.event-title {
  font-size: 2.2rem;
  font-family: var(--Livic);
  margin-left: 20px;
  color: #5eb0b8;
  text-shadow:5eb0b8 2px 2px lightgray;
}
.no-reg {
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--Abel);
  color: var(--text-light);
}
.profile-table {
  align-self: center;
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  border-bottom: 1px solid var(--midnight);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
.profile-table tr {
  font-size: 0.9rem;
  font-family: var(--Livic);
  transition: all 0.2s ease-in-out;
}
.profile-table th,td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
#table-head {
  background-color: var(--midnight);
  color: var(--white);
}
.profile-table tr:hover {
  color: var(--white);
  font-weight: 900;
  background-color: #5eb0b8;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 800px)  {
  .profile-table tr > *:nth-child(4) {
    display: none;
  }
}
/* Council Profile Page End */

/* Footer */

.footer {
  margin-top: -20px;
  height: 100%;
  position: relative;
  background-color: black;
}
.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .footer-container > div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem 0.9rem;
}
.footer .footer-container h2 {
  font-family: var(--Abel);
  color: var(--white);
  font-size: 2rem;
}
.footer .footer-container h2 a {
  font-family: var(--Abel);
  color: var(--white);
  font-size: 2rem;
}
.footer .footer-container p {
  font-family: var(--Josefin);
  color: var(--text-grey);
  font-size: 1.1rem;
}
.contact-icon a{
  font-size: 2rem;
  color: var(--white);
  margin: .4rem 1rem;
}
.footer .insta div > img{
  display: inline-block;
  width: 25%;
  height: 50%;
  margin: .3rem .4rem;
}
.rights {
  text-align: center;
  color: white;
  font-family: var(--Josefin);
  padding-bottom: 50px;
}
.footer .move-up {
  position: absolute;
  right: 6%;
  bottom: 10%;
}
.footer .move-up span {
  color: var(--midnight);
}
.footer .move-up span:hover {
  color: #5eb0b8;
  cursor: pointer;
}
@media only screen and (max-width: 1130px) {
  .footer .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 630px) {
  .footer .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Footer End */

/*Hackathon Page */

.hackathon-container {
  max-width: 80%;
  margin: 2rem auto;
}

.hack-card {
  max-width: 80%;
  margin: 2rem auto;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.card-image {
  height: 35rem;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 2rem;
}

.hack-details , .icon-text {
  display: flex;
  align-items: center;
}

.icon-text {
  margin-right: 1rem;
}

.icon-text .icon {
  color: var(--midnight);
  margin-right: 0.4rem;
}

.icon-text .text {
  font-family: var(--Josefin);
}

.hack-title {
  font-family: var(--Abel);
  font-size: 2rem;
  color: var(--midnight);
}

.excerpt {
  font-family: var(--Josefin);
  font-size: 1.2rem;
}

.more-details span{
  font-size: .9rem;
  font-weight: 900;
  font-family: var(--Abel);
  color: var(--midnight);
}

.register {
  font-family: var(--Abel);
  font-weight: 900;
  color: white;
  background-color:var(--midnight);
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.7rem;
  width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .hack-card {
    display: flex;
    height: 35rem;
    overflow: hidden;
  }
  
  .card-image {
    height: auto;
    flex: 1;
  }

  .card-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/*Hackathon Page End */